<div class="jumbotron">
    <p>user: <%= @conn.assigns.username %> <a href="/logout">logout</a> </p>
    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Account</th>
                  <th>Balance</th>
                  <th>Add funds</th>
                </tr>
              </thead>
              <tbody>
                  <%= for account <- @accounts do %>

                <tr>
                  <td><%= account.name %></td>
                  <td><%= total_balance(account) %></td>
                  <td>
                      <form action="/transactions/add_funds" method="post">
                          <input type="number" name="amount" style="width: auto;" step="0.01"/>
                          <input type="hidden" name="account_id" value=<%= account.id %> />
                          <input type="submit" value="add"/>
                      </form>
                  </td>
                </tr>
                <% end %>
                <tr>
                    <a href="/accounts/create">
                        create new account
                    </a>
                </tr>
              </tbody>
            </table>


            <div class="table-responsive">
            <table id="stock_exchanges" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>FB $<span id="fb"><%= elem(@tickers["FB"], 1) %></span></th>
                        <th>M $<span id="m"><%= elem(@tickers["M"], 1) %></span></th>
                        <th>KHC $<span id="khc"><%= elem(@tickers["KHC"], 1) %></span></th>
                        <th>DIS $<span id="dis"><%= elem(@tickers["DIS"], 1) %></span></th>
                        <th>LYFT $<span id="lyft"><%= elem(@tickers["LYFT"], 1) %></span> </th>
                    </tr>
                </thead>
                <tbody>
                    <%= for account <- @accounts do %>

                        <tr>
                            <td><%= account.name %></td>
                            <td><%= owned_shares(account, "FB") %></td>

                            <td><%= owned_shares(account, "M") %></td>
                            <td><%= owned_shares(account, "KHC") %></td>
                            <td><%= owned_shares(account, "DIS") %></td>
                            <td><%= owned_shares(account, "LYFT") %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            </div>
            
    </div>

<form action="/transaction" method="POST" id="buy-sell-form">
    <h1>BUY/SELL</h1>
  <div class="form-group">
      <label>ticker</label>
    <select class="form-control" id="symbol" name="ticker" form="buy-sell-form">
      <option>FB</option>
      <option>M</option>
      <option>KHC</option>
      <option>DIS</option>
      <option>LYFT</option>
    </select>
    <label>account name</label>
    <select class="form-control" id="symbol" name="account_id" form="buy-sell-form">
        <%= for account <- @accounts do %>
            <option value=<%= account.id %>><%= account.name %>
        <% end %>
    </select>

  </div>
  <div class="form-group">
      <input type="radio" name="tx" value="buy">buy</input>
      <input type="radio" name="tx" value="sell">sell</input>
  </div>
  <div class="form-group">
      <label>how many?</label>
      <input type="number" name="amount" placeholder="# shares">
  </div>
  <input type="submit" value="submit">
</form>
</div>



